#calculator {
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(234, 226, 183, 1);
}


.gridWrapper{
  display: grid;
  justify-items: center;
  align-content: center;

  height: 550px;
  width: 400px;
  
  border: 10px solid #003049;
  border-radius: 4px;

  background-color: #003049;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr );
}


#screen{
  background-color: #8ECAE6;
  box-sizing: border-box;
  border: 5px solid #003049;
  border-radius: 5px;
  width: 100%;
  grid-row-start:1 ;
  grid-column-start: 1;
  grid-column-end: 5;
  font-size: 52px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.button{
  display: flex;
 
  height: 100%;
  width: 100%;

  box-sizing: border-box;
  border: 5px solid #003049;
  border-radius: 2px;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.button:active{
transform: scale(0.98);
}

.number{
  background-color: rgba(214, 40, 40, 0.95);
}

.operator{
  background-color: rgba(252, 191, 73, 0.896);
}

.top{
  background-color: rgba(247, 127, 0, 0.838);
}

#zero{
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}


